body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}


/* Header */
.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px 240px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 600;
}

/* Hero */
.hero {
  background-color: #1f2937;
  display: flex;
  padding: 50px 240px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
}

.hero-content {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.hero-image {
  width: 430px;
  height: 250px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px 28px;
  border-radius: 8px;
  border: none;
}

/* Info */
.info {
  display: flex;
  padding: 50px 240px;
  flex-direction: column;
  align-items: center;
}

.panels {
  display: flex;
  margin: 30px 240px;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  margin: 0 20px;
}

.panel-image {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  border: 5px solid #3882F6;
}

/* Quote */

/* CTA */

/* Footer */

