body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

p {
  font-size: 18px;
  margin: 0;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px 28px;
  border-radius: 8px;
  font-size: 18px;
}

/* Header */
.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px 240px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 600;
}

/* Hero */
.hero {
  background-color: #1f2937;
  display: flex;
  padding: 80px 240px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 0;
}

.hero p {
  color: #E5E7EB;
}

.hero-content {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.hero-image {
  width: 430px;
  height: 250px;
}

.hero button {
  border: none;
}

/* Info */
.info {
  display: flex;
  padding: 50px 240px;
  flex-direction: column;
  align-items: center;
}

.panels {
  display: flex;
  margin: 30px 240px;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 170px;
  text-align: center;
  margin: 0 20px;
}

.panel-image {
  height: 170px;
  width: 170px;
  border-radius: 8px;
  border: 5px solid #3882F6;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
}

/* Quote */
.quote {
  display: flex;
  flex-direction: column;
  padding: 120px 320px;
  background-color: #E5E7EB;
  gap: 20px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}

.quote-author {
  text-align: right;
  font-size: 26px;
  color: #1f2937;
  font-weight: bold;
}

/* CTA */
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  margin: 90px 240px;
  padding: 60px 100px;
  color: #F9FAF8;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.cta button {
  border: 2px solid #F9FAF8;
}

.cta-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Footer */

